# Dependencies
node_modules/

# Build output
dist/
build/

# Production
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db

# IDE/editor directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test coverage
coverage/

# Package archive
yarn.lock.pack
*.tgz 